.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #1E2634;
}
.head {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.02em;

    position: absolute;
    width: 1241px;
    height: 64px;
    left: 341px;
    top: 1060.01px;
}

.items {
    position: absolute;
    left: 209.3px;
    top: 1261.07px;
}

.items div {
    margin-bottom: 40px;
}

.items p {
    font-weight: 400;
    font-size: 26px;
    display: inline-block;
    margin-left: 5px;
    color: #FFFFFF;
    
}

.trackCoins {
    position: absolute;
    width: 775.92px;
    height: 508.53px;
    left: 936.94px;
    top: 1252.94px;
}