.button{ 
    color: white;
    width: 220px;
    border-radius: 10px;
    background: #805AD5;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
}
.button:hover {
    cursor: pointer;
}

.button:active {
    background: #5f2ad1;
}