.wrapper {
    height: calc(100vh - 80px);
    width: 100vw;
    margin-top: 80px;
}

.headerName {
    color: white;
    font-weight: 500;
    font-size: 46px;
    line-height: 69px;
    
    position: absolute;
    width: 609.77px;
    height: 138px;
    left: 211.94px;
    top: 261px;
}

.descriptionText {
    color: #8085B1;

    position: absolute;
    width: 632.43px;
    height: 64px;
    left: 210.99px;
    top: 420.88px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    
    text-align: justify;
}

.button {
    position: absolute;
    width: 220px;
    height: 60px;
    left: 212px;
    top: 545.27px;
}

.building {
    position: absolute;
    width: 806.11px;
    height: 664px;
    left: 902.89px;
    top: 129px;
}